@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Nunito Sans', sans-serif;
}
::selection{
    color: rgb(220, 152, 43);
}